.hero-image {
    margin: 0 auto;
    width: 100%;
}

.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 35%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    margin: 0 auto:
}

.hero-hed {
    font-family: 'Architects Daughter', cursive;
    font-size: 6em;
    color: white;
    margin: 0 auto;
    padding-bottom: 5px;
}

.hero-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 0.28em;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: -15px;
}

.phenom {
    color: #D42524;
}

.red {
    color: #D42524;
}

.photo {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 5.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}

.byline {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:lighter;
    padding-bottom: 20px;
}

.container {
    width: 75%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    margin: 0 auto;
    line-height: 1.5;
    padding: 12.5px;
}

.pullquote {
    font-family: 'Architects Daughter', cursive;
    color: #D42524;
    font-size: 2.2em;
    font-weight: 600;
    text-align: left;
    padding: 10px 0 10px 0;
    border-top: 1.5px solid #D42524;
    border-bottom: 1.5px solid #D42524;
    text-align: center;
}

.speaker {
    font-size: 0.7em;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    text-align:left;
    color:black;
    margin: 0 auto;
    text-align: center;
}

.image {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 10px;
}

.bottom {
    width: 100%;
    text-align: center;
}

.caption {
    padding-left: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

.aligned-dropcap {
    color: #D42524;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 600%;
    line-height: 0.85em;
    margin-right: 0.03em;
    margin-bottom: -0.20em;
    font-weight: lighter;
}

.text-white {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
}

a:link { /* unvisited link */
    color: rgb(236, 17, 17);
}

a:visited { /* visited link */
    color: rgb(50, 241, 241);
}

a:hover { /* mouse over link */
    color: purple;
}

@media (max-width: 650px) {
    .hero-hed {
        font-size: 1.5em;
    }

    img {
        font-style: 1.5em;
        width: 100%;
    }

    .h1 {
        font-size: 1em;
    }

    .nav-logo {
        text-align: center;
    }