/* Tophat */

.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: #EB3E01;
}

/* Splash Area*/

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 39%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.hero-hed {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

.hero-sub {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.25em;
}

.shared {
    color: #EBD140;
    font-weight: bold;
}

p {
    margin: 0 auto;
    line-height: 2.5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.quote {
    text-align: center;
    font-style: italic;
    padding-top: .5em;
}

.sectionhead {
    color:red;
    font-size: 2em;
    font-family: cursive;
}

/* Media Queries */

@media (max-width: 650px) {
    .hero-hed {
        font-size: 1.5em;
    }



}