/* Tophat */

.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: #EB3E01;
}

/* Splash Area*/

h1 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}

.byline {
    font-style: italic;
    font-weight: 340;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 39%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.hero-hed {
    font-family:cursive;
    font-size: 6em;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

.hero-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.22em;
}

.shared {
    color: #EBD140;
}

p {
    margin: 0 auto;
    line-height: 2.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.quote {
    text-align: center;
    font-style: italic;
    padding-top: .5em;
}

.sectionhead {
    color:#EB3E01;
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.pullquote {
    font-family: cursive;
    color: #EB3E01;
    font-size: 2.5em;
    font-weight: 600;
    text-align: left;
    padding: 10px 0 10px 0;
    border-top: 1.5px solid #EB3E01;
    border-bottom: 1.5px solid #EB3E01;
    margin: 0 auto;
    text-align: center;
}

.speaker {
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align:left;
    color:black;
    margin: 0 auto;
    text-align: center;
}

.sidebar {
    max-width: 600px;
    border-top: .25em solid #EB3E01;
    border-bottom: .25em solid #EB3E01;
    border-left: .25em solid #EB3E01;
    border-right: .25em solid #EB3E01;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1.8;
}

#dd {
    font-size: 1.5em;
    font-weight: bold;
}

.AMS {
    font-style: italic;
    font-weight: normal;
}

a:link { /* unvisited link */
    color: blue;
    border-bottom: 1px solid;
}

a:visited { /* visited link */
    color: purple;
}

a:hover { /* mouse over link */
    color: red;
}

.png {
    margin: 0 auto;
    width: 100%;
}

/* Media Queries */

@media (max-width: 650px) {
    .hero-hed {
        font-size: 1.5em;
    }

    img {
        font-style: 1.5em;
        width: 100%;
    }


}