/* styles for my resume */

BODY{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em; 
    color:#444;
    font-weight:400;
}

/* banner name at top*/

#name{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    min-width: 300px;
    width: 60%;
    margin: 0 auto; 
}

/* my title */

#title {
    font-size: 1.5em;
    font-weight: 600px center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    text-align: center;
    color: #33485e
}

/* section titles */

.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #33485e;
    color: white;
    margin: 20px 0px 10px;
    width: 70%;
    min-width: 300px;
}

/* job titles */

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* job organization */

.organization {
    font-size: 1.25em;
}

/* job dates */

.date {
    font-size: 1em;
    font-style: italic;
    margin: 2px 0px 0px;
}

/* paragraphs */

.description{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

/* contact info, skills, education */

.menu {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.menu >li{
    display: inline;
}

#degrees{
    margin-top: 5px;
    margin-bottom: 0PX;
    margin-left: 0px;
    margin-right: 0px;
}

#do {
    margin-top: 5px;
    margin-bottom: 0PX;
    margin-left: 0px;
    margin-right: 0px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto; 
    margin-bottom: 30px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}