/* styles for my resume */

body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em; 
    color:#444;
    font-weight:400;
    background-color: #a5c8cd;
}

/* banner name at top*/

#name{
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    color: #7a2f18;
    border-bottom: 2.3px solid white;
    min-width: 300px;
    width: 20%;
    margin: 0 auto; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* my title */

#title {
    font-size: 1.5em;
    font-weight: 600px center;
    text-transform: uppercase;
    text-align: center;
    color: #1b4d7c;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: bold;
}

/* section titles */

.sectionheader {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #7a2f18;
    margin: 20px 0px 10px;
    width: 100%;
    min-width: 300px;
    text-align: center;
}

/* job titles */

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

/* job organization */

.organization {
    font-size: 1.25em;
    color: #1b4d7c;
    text-align: center;
}

/* job dates */

.date {
    font-size: 1em;
    font-style: italic;
    margin: 2px 0px 0px;
}

/* paragraphs */

.description{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
}

/* contact info, skills, education */

#degrees{
    text-align: center;
    margin: 0 auto;
}

#do {
    text-align: center;
    margin: 0 auto;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto; 
    margin-bottom: 30px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.image {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    align-content: center;
}

.text {
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 70%;
    size: 1.5em;
}

li {
    display: inline;
    color: white;
}

#coby {
    width: 100%;
    margin: 0 auto;
    height: 0 auto;
}

.me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7a2f18;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.navbar {
    color: white;
    font-size: 1.35em;
}

#copyright {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
}

.icons {
    font-size: 2em;
    text-align: center;
    border-bottom: 2.3px solid white;
    min-width: 200px;
    width: 16%;
    margin: 0 auto; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;   
}