/* styles for my resume */

body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em; 
    color:#444;
    font-weight:400;
    background-color: #0C6B7A;
}

/* banner name at top*/

#name{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-bottom: 3px solid white;
    min-width: 300px;
    width: 20%;
    margin: 0 auto; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

/* my title */

#title {
    font-size: 1.5em;
    font-weight: 600px center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* section titles */

.sectionheader {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin: 20px 0px 10px;
    width: 100%;
    min-width: 300px;
    text-align: center;
}

/* job titles */

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* job organization */

.organization {
    font-size: 1.25em;
}

/* job dates */

.date {
    font-size: 1em;
    font-style: italic;
    margin: 2px 0px 0px;
}

/* paragraphs */

.description{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

/* contact info, skills, education */

.menu {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

.menu >li{
    display: inline;
}

#degrees{
    margin-top: 5px;
    margin-bottom: 0PX;
    margin-left: 0px;
    margin-right: 0px;
}

#do {
    margin-top: 5px;
    margin-bottom: 0PX;
    margin-left: 0px;
    margin-right: 0px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto; 
    margin-bottom: 30px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.image {
    justify-content: center;
    width: 28%;
    position: relative;
    left: auto;
    right: auto;
    width: 325px;
}

.text {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}