#content {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #9AE6D3;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: gray;
}

.subheader {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #9AE6D3;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.image {
    max-width: 100%;
    width: auto;
    margin: auto;
    height: auto;
    text-align: center;
    padding: 15px;
    object-fit: fill;
}